@import "../../variables";

div.projectBody {
  display: grid;
  grid-template-rows: [image-start] 30em [image-end title-start] 2em [title-end description-start] auto [description-end tools-start] auto [tools-end];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em;

  .thumbnail {
    grid-row-start: image-start;
    grid-row-end: image-end;
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: white;
  }
  .detailsTitle {
    grid-area: title-start/ 3 / title-end / 11;
    background-color: white;
    place-self: center;
  }
  .detailsDescription {
    grid-area: description-start/ 3 / description-end / 11;
    background-color: white;
  }
  .detailsTools {
    grid-area: tools-start/ 3 / tools-end / 11;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
