@import "../variables";
.about-area {
  background-color: $midtone;
  display: grid;
  grid-template-rows: [very-top] Auto [mid-line] auto;
  grid-template-columns: 1fr 10fr 1fr;
  height: 100%;

  .about {
    grid-area: about;
    font-family: $robotoTitle;
    color: $accent;
    margin-bottom: 0;
    margin-left: $titleMargin;
  }
  p.bio {
    grid-area: bio;
    font-family: $robotoParagraph;
    line-height: $paragraphLineHeight;
    margin-bottom: 4vh;
    strong {
      color: $accent;
    }
  }
  grid-template-areas:
    ". about ."
    ". bio .";
}
