@import "../variables";

div {
  .TitleExperience {
    color: $accent;
    grid-area: TitleExperience;
    font-family: $robotoTitle;
    font-size: $titleSize;
    margin-left: $titleMargin;
  }
  .experience {
    background-color: $shadow;

    grid-area: experience;
  }
}

div.experiences-container {
  display: grid;
  margin-top: 5vh;

  grid-area: experiences;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: minmax(auto, 100px) auto minmax(auto, 100px);

  grid-template-areas:
    ". TitleExperience TitleExperience TitleExperience TitleExperience TitleExperience TitleExperience TitleExperience TitleExperience TitleExperience TitleExperience ."
    ". experience experience experience experience experience experience experience experience experience experience ." ". . . . . . . . . . . .";
}
