@import "../variables";
.title {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  justify-items: start;
  font-family: $monserratTitle;
  color: $accent;

  .felipe {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0;
    font-weight: 800;
    word-wrap: normal;
    .line {
      background-color: $highlight;
      position: absolute;
      width: 12ex;
      height: 0.1em;
      margin-top: -0.2em;
      border-radius: 10px;
      z-index: -1;
    }
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .webdev {
    font-size: 32px;
    line-height: 55px;
    font-weight: 800;
    .line {
      background-color: $highlight;
      position: absolute;
      width: 15ex;
      height: 0.1em;
      margin-top: -0.5em;
      border-radius: 10px;
      z-index: -1;
    }
    grid-row-start: 10;
    grid-row-end: 11;
  }
}
