//Palette

$shadow: #02131a;
$shadowDark: #000000;
$shadowLight: #2b3940;

$midtone: #0a5e6a;

$highlight: #0bb7b8;
$highlightLight: #60eaea;
$highlightDark: #008688;

$accent: #fcd450;

//font variables
$robotoTitle: Roboto, Bold;
$monserratTitle: Montserrat;

$felipeLujan: 42px;
$titleSize: 36px;
$titleMargin: 2vh;
$robotoParagraph: Roboto;
$OpenSansParagraph: "Open Sans";

$paragraphLineHeight: 50px;
