//Color variables

$shadow: #02131a;
$midtone: #0a5e6a;
$highlight: #0bb7b8;
$accent: #fcd450;

//font variables
$robotoTitle: Roboto, Bold;
$titleSize: 36px;
$titleMargin: 2vh;
$robotoParagraph: Roboto, Light;
$robotoParagraph: "Open Sans", Normal;

$paragraphLineHeight: 50px;
