@import "../../variables";
div {
  .img {
    grid-area: img;
    overflow: hidden;
  }
  .projectTitle {
    grid-area: title;
  }
  .icon {
    grid-area: icon;
  }
  .teaser {
    grid-area: teaser;
  }
  .btn {
    grid-area: btn;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.single-experience-container {
  height: 50vh;
  display: grid;
  border: 1px solid $midtone;
  font-family: $robotoParagraph;
  color: #0bb7b8;

  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.25px;

  margin-bottom: 3em;

  grid-template-areas:
    "img img img img img img img img img img img img"
    ". icon title title title title . . . . . ."
    ". teaser teaser teaser teaser teaser teaser teaser teaser teaser teaser ."
    ". btn btn btn btn btn btn btn btn btn btn .";
  grid-template-columns: repeat(2, minmax(auto, 1fr)) repeat(
      10,
      minmax(auto, 1fr)
    );
  grid-template-rows: minmax(auto, 50%) minmax(auto, 3em) repeat(
      2,
      minmax(auto, auto)
    );
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}
