div {
  .img {
    grid-area: img;
    background-color: #c6a3a3;
  }
  .projectTitle {
    grid-area: title;
    background-color: #c6a3a3;
  }
  .icon {
    grid-area: icon;
    background-color: #c6a3a3;
  }
  .teaser {
    grid-area: teaser;
    background-color: #c6a3a3;
  }
  .btn {
    grid-area: btn;
    background-color: #c6a3a3;
  }
}

.container-2.container-grid {
  height: 50vh;
  display: grid;
  padding-bottom: 10px;
  background-color: #eee;

  grid-template-areas: "img img img img img img img img img img img img" ". icon . title title title title . . . . ." "teaser teaser teaser teaser teaser teaser teaser teaser teaser teaser teaser ." "btn btn btn btn btn btn btn btn btn btn btn btn";
  grid-template-columns: repeat(2, minmax(auto, 1fr)) repeat(
      10,
      minmax(auto, 1fr)
    );
  grid-template-rows: minmax(auto, 50%) minmax(auto, 20%) repeat(
      2,
      minmax(auto, auto)
    );
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}
